<%= form_for @tale do |f| %>
  
  <fieldset>
    <%= f.label :prompt %>
    <%= f.text_area :prompt, :cols => 34, :rows => 5, :onkeyup => "checkMaxlength(this);", :maxlength => 250 %>
  </fieldset>

  <fieldset>
    <%= f.fields_for :lines do |ff| %>
      <%= ff.label "Add a line" %>
      <%= ff.text_area :content, :cols => 34, :rows => 5, :onkeyup => "checkMaxlength(this);", :maxlength => 250  %>
    <% end %>
  </fieldset>

  <fieldset>
    <%= f.fields_for @tags do |ff| %>
     <%= ff.label :tags %>
     <%= ff.text_field :name %>
    <% end %>
  </fieldset>

  <div>
    <%= f.submit, class: "btn btn-large" %>
  </div>

<% end %> 

