<% if tale.open? %>
<div class="new-line">
  <input type="hidden" id="curr_user_id" value="<%= session[:user_id] %>">
  <input type="hidden" id="tale_id" value="<%= tale.id %>">

  <div id="tale">
    <div class="line" id="newline" data-tale-id="<%= tale.id %>" <% if tale.is_current_line_user?(@current_user) %> contenteditable="true" <% end %> ></div>

    <div id="character-count">
    </div>
    <% if !tale.awaiting_new_line? || (@current_user && @current_user != (tale.lines.sort.last.user)) %>
      <% participate_css = "display:none;" %>
    <% end %>
    <% if !tale.awaiting_new_line? && !tale.is_current_line_user?(@current_user)%>
      <% wait_text = "Someone is currently adding to this tale. Please stand by." %>
    <% end %>
    <% if !tale.is_current_line_user?(@current_user) %>
      <% save_css = "display:none;" %>
    <% end %>

    <% if tale.owner != @current_user || !tale.is_current_line_user?(@current_user) %>
      <% close_css = "display:none;" %>
    <% end %>

    <div class="buttons">
      <div id="participate" style="<%= participate_css %>">
        <button id="participate_btn" class="btn" >Participate in this Tale</button>
      </div>

      <div id="save" style="<%= save_css %>">
        <button id="save_btn" class="btn">Add to Tale</button>
      </div>

      <div id="close" style="<%= close_css %>">
        <button id="close_btn" class="btn">End Tale</button>
      </div>
      <span id="wait-message"><%= wait_text %></span>
    </div>
  </div>
</div>
<% end %>