<div class="tale teaser">
  <%= link_to tale do %>
    <div class="tale_info">
      <h1 class="title"><%= tale.title.capitalize %></h1>
      <h2 class="prompt"><%= tale.prompt %></h2>
    </div>
  <% end %>
  <div class="meta">
    <div class="owner">
      <h5>Started by <%= link_to tale.owner.username, tale.owner.username %></h5>
    </div>
    <div class="lines">
      <h5><%= tale.lines.count %> <%if tale.lines.count > 1 || tale.lines.count == 0 %>lines<%else%>Line<%end%></h5>
    </div>
    <div class="last-updated">
      <h5><%= link_to tale.lines.last.user.username, tale.lines.last.user %> 
      <small>updated <%= time_ago_in_words(tale.lines.last.created_at) %> ago</small></h5>
    </div>
  </div>
  <div class="foot">
    <div id="divider"></div>
    <h5 id="tags"><% tale.tags.each do |tag| %><small>#<%= tag.name %></small><%end%></h5>
  </div>
</div>