<h1>Start a new Tale</h1>

<%= form_for @tale do |f| %>

  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'newtale', :id => 'newtaletitle' %>
    <div id="character-count" class="new-tale-count"></div>
  </fieldset>

  <fieldset>
    <%= f.label :prompt %>
    <%= f.text_area :prompt, :cols => 34, :rows => 5, :class => 'newtale', :id => 'newtaleprompt' %>
    <div id="character-count" class="new-tale-count"></div>
  </fieldset>

  <fieldset>
    <%= f.fields_for :lines do |ff| %>
      <%= ff.label "The first line" %>
      <%= ff.text_area :content, :cols => 34, :rows => 5, :maxlength => 250, :class => 'newtale', :id => 'newtaleline' %>
    <% end %>
    <div id="character-count" class="new-tale-count"></div>
  </fieldset>

  <fieldset>
    <%= f.fields_for @tags do |ff| %>
     <%= ff.label :tags %>
     <%= ff.text_field :name, :class => 'newtale', :id => 'newtaletags' %>
    <% end %>
    <div id="character-count" class="new-tale-count"></div>
  </fieldset>

  <div>
    <%= f.submit "Create Tale", class: "btn btn-large" %>
  </div>

<% end %>