<h1>This is <%= @user.username %>'s page!</h1>


<%= render 'info' %>


<h2> Tales started by <%= @user.username %> </h2>
<% @user.tales_owned.each do |tale| %>
  <%= render 'tale', tale: tale, owned_by_user: true %>
<% end %>

<h2> Tales <%= @user.username %> has contributed to </h2>
<% @user.tales_contributed.each do |tale| %>
  <%= render 'tale', tale: tale, owned_by_user: false %>
<% end %>

