<div class="user show">
  <div class="profile">
    <div class="meta">
      <%= render 'info', user: @user %>
    </div>
    <% if @user.my_profile(@current_user) %>
      <h5 class="edit"><%= link_to "Edit profile", edit_user_path(@user) %></h5>
    <% end %>
  </div>

  <% if @user.has_contributions %>
    <div id="tales" class="index">
    <% if @user.tales_owned.count > 0 %>
      <div id="user-tales" class="reveal">
            <%= render 'users/reveal_headers', user: @user, current_user: @current_user, owner: true %>
        <div class="items">
          <% @user.tales_owned.each do |tale| %>
            <%= render 'tales/tale_teaser', tale: tale, owned_by_user: true %>
          <% end %>
        </div>
      </div>
    <% end %>

      <div id="user-contributions" class="reveal">
        <%= render 'users/reveal_headers', user: @user, current_user: @current_user, owner: false %>
        <div class="items">
        <% @user.tales_contributed.each do |tale| %>
          <%= render 'tales/tale_teaser', tale: tale, owned_by_user: false %>
        <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <h3>This user hasn't participated in any tales yet.</h3>
  <% end %>

</div>