<div id="user show">
  
  <div class="profile">
    <h1><%= @user.username %> 
    <font size="3"><%= link_to "(edit)", edit_user_path(@user) if @current_user && @current_user.id == @user.id %></font>
    </h1>
    <div class="meta">
      <%= render 'info', user: @user %>
    </div>
  </div>

  <% if @user.tales_contributed.count == 0 && @user.tales_owned.count == 0 %>
    <h3>This user hasn't participated in any tales yet.</h3>
  <% end %>
   <% if @user.tales_owned.count > 0 %>
  <div id="tales" class="index">
    <div id="user-tales" class="reveal">
      <div class="menu-header">
        <% if @current_user && @current_user.id == @user.id %>
          <h2><span class="reveal-state">+</span> Tales I Own</h2>
        <% else %>
          <h3><span class="reveal-state">+</span><%= @user.username %>'s Tales</h3>
        <% end %>
        <span class="count"><%= @user.tales_owned.count %> entries</span>
      </div>
      <div class="items">
        <% @user.tales_owned.each do |tale| %>
          <%= render 'tales/tale_teaser', tale: tale, owned_by_user: true %>
        <% end %>
      </div>
    </div>
<% end %>
    <% if @user.tales_contributed.count > 0 %>
    <div id="user-contributions" class="reveal">
      <div class="menu-header">
        <% if @current_user && @current_user.id == @user.id %>
        <h2><span class="reveal-state">+</span> Tales I've Contributed To</h2>
        <% else %>
        <h3><span class="reveal-state">+</span><%= @user.username %>'s Contributions</h3>
        <span class="count"><%= @user.tales_contributed.count %> entries</span>
        <% end %>
      </div>
      <div class="items">
      <% @user.tales_contributed.each do |tale| %>
        <%= render 'tales/tale_teaser', tale: tale, owned_by_user: false %>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>

</div>