<header>
  <div id="content">
    <div id="brand">
      <%= link_to "Tale", root_path %>
    </div>
    <nav id="main-menu">
      <% if @current_user %>
        <%= link_to "Me", user_path(@current_user) %>
        <%= link_to "New", new_tale_path %>
        <%= link_to "Browse", tales_path %>
        <%= link_to "Log Out", session_path(session), method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_session_path %>
        <%= link_to "Sign Up", signup_path %>
      <% end %>
    </nav>
  </div>
</header>