<!DOCTYPE html>
<html>
  <head>
    <title>TaleApp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,900,700' rel='stylesheet' type='text/css'>
 <!--   <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
  </head>
  <%= render 'layouts/navbar' %>

  <body>
    <main>
      <div id="content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>




