<!DOCTYPE html>
<html>
  <head>
    <title>TaleApp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,900,700' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/9165f73cf7.js"></script>
 
  </head>
  <%= render 'layouts/navbar' %>

  <body>
    <main>
    <%= render 'layouts/flash_messages' if !flash.empty? %>
      <div id="content">
        <%= yield %>
      </div>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>




